<a href="https://colab.research.google.com/github/Varshiniamirishetty/pythonproblems/blob/main/functionandrecursions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def gcd(a,b):
  if b==0:
    return a
  else:
    return gcd(b,a%b)
print(gcd(48,18))

6

In [ ]:
#functions
#recursions
n=12120
d=1
def count(n,d):
  if n==0:
    return 0
  if n%10==d:
    return 1+count(n//10,d)
  else:
    return count(n//10,d)
print(count(n,d))

2

In [ ]:
def reverse(n,r):
  if n==0:
    return r
  return reverse(n//10,r*10+n%10)
print(reverse(34,0))

43

In [ ]:
def sum(n,r):
  if n==0:
    return r
  return sum(n//10,r+n%10)
print(sum(121,0))

4

In [ ]:
def oneton(n):
  if n==0:
    return
  oneton(n-1)
  print(n)
oneton(5)

1
2
3
4
5

In [ ]:
def ntoone(n):
  if n==0:
    return
  print(n)
  ntoone(n-1)
ntoone(5)

5
4
3
2
1

In [ ]:
def palindrome(n,r=0):
  if n==0:
    return r
  return palindrome(n//10,r*10+n%10)
def is_palindrome(n):
  return n==palindrome(n)
print(is_palindrome(121))

True

In [ ]:
def sumofn(n):
  if n==0:
    return 0
  return n+sumofn(n-1)
print(sumofn(5))

15

In [22]:
def maxele(n):
  if len(n)==1:
    return n[0]
  return max(n[0],maxele(n[1:]))
l=[2,9,3,1]
print(maxele(l))

9

In [23]:
def lenofstr(s):
  if len(s)==0:
    return 0
  return 1+lenofstr(s[1:])
s='python'
print(lenofstr(s))

6

In [24]:
n=12120
def count(n):
  if n==0:
    return 0
  return 1+count(n//10)
print(count(n))

5

In [26]:
def dectobinary(n):
  if n==0:
    return 0
  return n%2+10*dectobinary(n//2)
print(dectobinary(10))

1010